<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/contacts"  class="navbar-brand" >My Contact Book</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li>
      	<a class="active not-active" href="">Hello <strong>{{firstName}}</strong></a></li>
  	    <li><img style="width: 45px;" class="img-circle" src="{{userData.image}}"></li>

      <!-- <li><a (click)="signOut()" style="color: #fff;cursor: pointer;" class="active" >Signout</a></li> -->
    </ul>
  </div>
</nav>