<div class="container" style="width: 100%;">
  <div class="row full-height">
    <div class="col-md-5 full-height section-a">
    	<h1 class="text-center" style="color: #fff;">Welcome to Contact Book!!!</h1>
    	<hr/>
      <img class="img-responsive center-block" alt="Angular Logo" src="assets/contacts.png">
    </div>
    <div class="col-md-7 full-height section-b">
    	<img 
    	style="cursor: pointer;"
    	(click)="socialSignIn()" 
    	class="img-responsive center-block" 
    	alt="Google Logo" 
    	src="assets/google.png">
    </div>
  </div>
  
</div>






              
