.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h2{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.btnContact{
    border-radius: 1rem;
}
.is-invalid{
    border: 1px solid #a94442;
}